# Separate the Zelda tab label from its root advancement title.
public net.minecraft.client.gui.screens.advancements.AdvancementsScreen f_97335_ # tabs
public-f net.minecraft.client.gui.screens.advancements.AdvancementTab f_97133_ # title
